<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索画面</title>
<style>
h1 {font-size:18pt; font-weight:bold; color:gray;}
body {font-size:13pt; font-weight:bold; color:gray; margin:5px 25px;}
tr {margin:5px;}
th {padding:5px;color:white; background:darkgray;}
td {padding:5px;color:black; background:#f0f0f0;}
</style>
</head>
<body>
	<h1 th:text="${msg}"></h1>
	<p th:text="${msg2}"></p>
	<form method="post" th:action="@{/book}" th:object="${formModel}">
		<label>商品名</label>
		<input type="text" name="product" th:value="*{product}*><p>
		<label>価格</label>
		<input type="text" name="price" th:value="*{price}*><p>
		<input type="submit" value="検索">
	</form>
<table>
	<tr>
		<th>商品番号</th>
		<th>商品名</th>
		<th>価格</th>
		<th>商品タイプ</th>
	</tr>
	<tr th:each="obj:${drinks}" th:object="${obj}">
		<td><a th:href="@{/drink/detail/{isbn}(isbn=*{isbn})}" th:text="*{isbn}"></a></td>
		<td th:text="*{product}"></td>

</table>
</body>
</html>